@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('/fonts/DroidKufi.woff') format('woff');
  font-display: swap;
}

.dir-rtl {
	direction: rtl;
}

@layer base {
  body {
    @apply bg-white;
  }
}
